<html>
<head>
    <title>관리자 페이지</title>
</head>
<body>
    <%= ip %> 님 환영합니다!

    <form id="adminForm" action="/admin" method="POST">
        <label for="name">이름</label>
        <input type="text" id="name" name="name"><br>
        <label for="phone">번호</label>
        <input type="text" id="phone" name="phone"><br>
        <label for="car_number">차량 번호</label>
        <input type="text" id="car_number" name="car_number"><br>
        <label for="service_end">서비스 기간</label>
        <select id="service_end" name="service_end">
            <option value="1">1달</option>
            <option value="3">3달</option>
            <option value="6">6달</option>
        </select>
    </form>
    <input type="button" id="reqRegister" value="사용자 등록"/><br/>
    <p id="register_result">사용자를 등록하세요</p>

</body>
</html>

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous" type="text/javascript"></script>

<script>

$(document).ready(function(){

    $( "#reqRegister" ).click(function(e) {
        console.log("!!!!");
        event.preventDefault();

        let data = $('#adminForm').serialize();
        console.log(data);

        $.ajax({
            type: "POST",
            url: "/admin",
            data: data,
            success: function(response) {
                $('#register_result').text(response);
            },
            error: function(err) {
                console.log("error!");
            }
        });
    });
});

</script>