<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>::앱 정보</title>
    <link rel="shortcut icon" href="/images/apt_con.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/cog.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/queries.css' />
    <link rel='stylesheet' href='/venders/css/font-awesome.css' />
</head>
<body>

    <header>
        <div class="logo-box">
          <a href="/"><img src="/images/apt_logo.png" class="logo"></a>
          <a href="/"><img src="/images/logo_long.png" class="logo_long"></a>
        </div>
    </header>
    
    <section>
        <div class="section-body">
          <div>
            <img src="/images/apt_main.png" class="apt-img">
          </div>
    
          <div class="info-body">
            <p>사업자</p> 
            <p>건물주</p>
            <p>사업자 주소</p> 
            <p>서울특별시 금천구 가산동 가산디지털1로</p>
            <p>문의 전화</p> 
            <p>010-4455-8899</p>
            <p>관리인 문의</p> 
            <p><button class="contactBtn" onclick="location.href='/cog/contact'">컨택트 하러 가기</button></p>
            <p>버전</p> 
            <p>1.0</p>
          </div>
        </div>
      </section>
  
      <footer>
        <div class="footer-body">
          <p>2020 <i class="fa fa-heart"></i> made by haerim</p>
        </div>
      </footer>
</body>
</html>