<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>::환경설정</title>
    <link rel="shortcut icon" href="/images/apt_con.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/queries.css' />
    <link rel='stylesheet' href='/venders/css/font-awesome.css' />
</head>
<body>

  <header>
      <div class="logo-box">
        <a href="/"><img src="/images/apt_logo.png" class="logo"></a>
        <a href="/"><img src="/images/logo_long.png" class="logo_long"></a>
      </div>
  </header>
  
  <section>
      <div class="section-body">
        <div>
          <img src="/images/apt_main.png" class="apt-img">
        </div>
  
        <div class="btn-list" style="margin-top:100px">
          <ul>
            <li><a href="/admin"><input type="button" value="Admin" id="blueBtn" class="btn"></a></li>
            <li><a href="/contact"><input type="button" value="Contact"  id="blueBtn" class="btn"></a></li>
            <li><a href="/appinfo"><input type="button" value="Infomation" id="greenBtn" class="btn"></a></li>
          </ul>
        </div>

        <div class="btn-list2" style="margin-top:100px">
          <button class="btn2 blue2" onclick="location.href='/admin'">Admin</button>
          <button class="btn2 blue2" onclick="location.href='/contact'">Contact</button>
          <button class="btn2 green2" onclick="location.href='/appinfo'">Infomation</button>
        </div>
      </div>
    </section>
  
    <footer>
      <div class="footer-body">
        <p>2020 <i class="fa fa-heart"></i> made by haerim</p>
      </div>
    </footer>
</body>
</html>