<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/queries.css' />
    <link rel='stylesheet' href='/venders/css/font-awesome.css' />

  </head>
  <body>
    
    <header>
      <div class="logo-box">
        <a href="/"><img src="/images/apt_logo.png" class="logo"></a>
      </div>

      <div class="login-box">
        <input type="button" value="로그인" class="loginBtn">
      </div>

    </header>

    <section>
      <div class="section-body">
        <div>
          <img src="/images/apt_main.png" class="apt-img">
        </div>
  
        <div class="btn-list">
          <ul>
            <li><a href="/parkingin"><input type="button" value="입차하기" class="btn greenBtn"></a></li>
            <li><a href="/parkingout"><input type="button" value="출차하기" class="btn blueBtn"></a></li>
            <li><a href="/timecheck"><input type="button" value="정산하기" class="btn blueBtn"></a></li>
            <li><input type="button" value="게스트 정보 확인" class="btn greenBtn"></li>
            <li><input type="button" value="정기권 등록"  class="btn blueBtn"></li>
            <li><input type="button" value="주차 정보" class="btn greenBtn"></li>
          </ul>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-body">
        <p>2020 <i class="fa fa-heart"></i> made by haerim</p>
      </div>
    </footer>
  </body>
</html>
