<html>
<head>
    <title>차량 입출차</title>
</head>
<body>

    <input type="text" id="inNumber" value="차량 번호 입력">
    <button type="button" id="checkIn">입차</button><br>
    <label id="in_result">입차대기</label>
    <br>
    <input type="text" id="outNumber" value="차량 번호 입력">
    <button type="button">출차</button><br>
    <label id="out_result">출차대기</label>

</body>
</html>

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous" type="text/javascript"></script>

<script>
    $(document).ready(function(){

        $( "#checkIn" ).click(function(e) {
            e.preventDefault();

            let data = { car_number: $('#inNumber').val() };
            console.log(data);

            $.ajax({
                type: "POST",
                url: "/parking",
                data: data,
                success: function(response) {
                    $('#in_result').text(response);
                },
                error: function(err) {
                    console.log("error!");
                }
            });
        });
    });
</script>


