<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> :: 정산</title>
    <link rel="shortcut icon" href="/images/apt_con.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/parking.css' />
    <link rel='stylesheet' href='/stylesheets/queries.css' />
    <link rel='stylesheet' href='/venders/css/font-awesome.css' />
</head>
<body>
    <header>
        <div class="logo-box">
            <a href="/"><img src="/images/apt_logo.png" class="logo"></a>
            <a href="/"><img src="/images/logo_long.png" class="logo_long"></a>
        </div>
    </header>

    <section>
        <div class="section-body">
            <div>
                <img src="/images/apt_main.png" class="apt-img">
            </div>
            <div class="parkingin-body">
                <div class="parkingin-check">
                    <ul class="pay-list">
                        <li><div class="search-box">
                                <div class="in-line">
                                    <input type="text" id="checkCar" class="search-car" value="" placeholder="정산할 차량 번호 입력">
                                    <input type="button" id="search" class="search-btn" value="click">
                                </div>
                            </div>
                        </li>
                        <li><input type="text" id="checkPrice" class="parking-input" placeholder="총 가격" readonly></li>
                        <li><input type="radio" name="radioTxt" value="card">카드 
                            <input type="radio" name="radioTxt" value="bill">현금</li>
                        <li><input type="text" id="checkBill" class="parking-input" placeholder="금액 입력"></li>
                    </ul>
                </div>
                <div class="parkingin-word">
                    <p id="out_result">계산 대기</p>
                </div>
                <div class="parkingin-btn">
                    <button type="button" id="payStart" class="btn blueBtn">계산하기</button>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-body">
          <p>2020 <i class="fa fa-heart"></i> made by haerim</p>
        </div>
    </footer>
    

    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous" type="text/javascript"></script>

    <script>
        $(document).ready(function(){

            $( "#search" ).click(function(e) {
                e.preventDefault();

                let data = { car_number: $('#checkCar').val() };
                console.log("data"+data);
                $.ajax({
                    type: "POST",
                    url: "/pay",
                    data: data,
                    success: function(response) {
                        console.log("응답"+JSON.stringify(response));

                        if(response=='member'){
                            $('#checkPrice').val('입주자입니다.');
                            alert('입주자입니다. 오늘도 좋은 하루 보내세요.');
                            location.href='/';
                        }else{
                            $('#checkPrice').val(response);
                        }
                    },
                    error: function(err) {
                        console.log("error!");
                    }
                });
            });


            $( "#payStart" ).click(function(e) {
                e.preventDefault();
                var radioCheck = $('input[name="radioTxt"]').is(':checked');
                let data = { 
                    car_number: $('#checkCar').val(),
                    totalPrice: $('#checkPrice').val(),
                    method : $('input[name="radioTxt"]:checked').val(),
                    userPrice : $('#checkBill').val()
                };
                console.log('라디오 버튼 체크 : '+radioCheck);
                console.log(data);

                if(parseInt($('#checkPrice').val()) > parseInt($('#checkBill').val())){
                    alert('금액이 적습니다.');
                } else if (parseInt($('#checkPrice').val()) < parseInt($('#checkBill').val())){
                    alert('금액이 많습니다.');
                } else {

                    $.ajax({
                        type: "POST",
                        url: "/payfinish",
                        data: data,
                        success: function(response) {
                            $('#out_result').val(response);
                            alert('계산이 완료되었습니다.');
                            window.location.replace("/");

                        },
                        error: function(err) {
                            console.log("error!");
                        }
                    });
                }
               
            });
        });
    </script>
</body>
</html>