<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> :: 정기권 등록</title>
    <link rel="shortcut icon" href="/images/apt_con.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/parking.css' />
    <link rel='stylesheet' href='/stylesheets/queries.css' />
    <link rel='stylesheet' href='/venders/css/font-awesome.css' />
</head>
<body>
    <header>
        <div class="logo-box">
            <a href="/"><img src="/images/apt_logo.png" class="logo"></a>
        </div>
  
        <div class="login-box">
          <input type="button" value="로그인" id="loginBtn">
        </div>
  
    </header>

    <section>
        <div class="section-body">
            <div>
                <img src="/images/apt_main.png" class="apt-img">
            </div>
            <div class="parkingin-body">
                <div class="parkingin-check">
                    <ul class="pay-list">
                        <li><input type="text" id="checkCar" class="parking-input" placeholder="등록할 차량 번호"></li>
                        <li><input type="radio" name="radioTxt" value="card">카드 
                            <input type="radio" name="radioTxt" value="bill">현금</li>
                        <li><input type="text" id="checkBill" class="parking-input" placeholder="충전할 금액 입력"></li>
                    </ul>
                </div>
                <div class="parkingin-word">
                    <p id="out_result">충전 대기</p>
                </div>
                <div class="new-btn">
                    <button type="button" id="newStart" class="btn blueBtn">신규 충전하기</button>
                </div>
                <div class="add-btn">    
                    <button type="button" id="addStart" class="btn blueBtn">잔액 충전하기</button>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-body">
          <p>2020 <i class="fa fa-heart"></i> made by haerim</p>
        </div>
    </footer>
    

    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous" type="text/javascript"></script>

    <script>
        $(document).ready(function(){

            $( "#newStart" ).click(function(e) {
                e.preventDefault();
                var radioCheck = $('input[name="radioTxt"]').is(':checked');
                let data = { 
                    car_number: $('#checkCar').val(),
                    method : $('input[name="radioTxt"]:checked').val(),
                    userPrice : $('#checkBill').val()
                };
                console.log('라디오 버튼 체크 : '+radioCheck);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/tickets",
                    data: data,
                    success: function(response) {
                        if(response === '0'){
                            $('#out_result').text('이미 등록된 차량입니다.');
                            alert('이미 등록된 차량입니다.');
                        } else {
                            $('#out_result').text('신규 충전이 완료되었습니다.');
                            alert('신규 충전이 완료되었습니다.');
                            window.location.replace("/");
                        }

                    },
                    error: function(err) {
                        console.log("error!");
                    }
                });
            });

            $( "#addStart" ).click(function(e) {
                e.preventDefault();
                var radioCheck = $('input[name="radioTxt"]').is(':checked');
                let data = { 
                    carnum: $('#checkCar').val(),
                    method : $('input[name="radioTxt"]:checked').val(),
                    addprice : $('#checkBill').val()
                };
                console.log('라디오 버튼 체크 : '+radioCheck);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/ticketsadd",
                    data: data,
                    success: function(response) {
                        $('#out_result').text('잔액 충전이 완료되었습니다.');
                        alert('잔액 충전이 완료되었습니다.');
                        window.location.replace("/");

                    },
                    error: function(err) {
                        console.log("error!");
                    }
                });
            });
        });
    </script>
</body>
</html>