<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> :: 시간 확인</title>
    <link rel="shortcut icon" href="/images/apt_con.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/parking.css' />
    <link rel='stylesheet' href='/stylesheets/queries.css' />
    <link rel='stylesheet' href='/venders/css/font-awesome.css' />
</head>
<body>
    
    <header>
        <div class="logo-box">
            <a href="/"><img src="/images/apt_logo.png" class="logo"></a>
            <a href="/"><img src="/images/logo_long.png" class="logo_long"></a>
        </div>
    </header>

    <section>
        <div class="section-body">
            <div>
                <img src="/images/apt_main.png" class="apt-img">
            </div>
            <div class="parkingin-body">
                <div class="parkingin-check">
                    <input type="text" id="checkTime" class="parking-input" placeholder="정산할 차량 번호 입력">
                </div>
                <div class="parkingin-word">
                    <p id="out_result">시간 집계 중</p>
                    <p id="out_result2"></p>
                    <p class="parking-word2">정산은 시간 확인 시 출력됩니다.</p>
                </div>
                <div class="checkin-btn">
                    <button type="button" id="checkStart" class="btn blueBtn">주차 총 시간</button>
                </div>
                <div class="checkin-btn"> 
                    <button type="button" id="payStart" class="btn blueBtn" style="display: none; margin-top:10px;">정산 시작</button>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-body">
          <p>2020 <i class="fa fa-heart"></i> made by haerim</p>
        </div>
    </footer>
    
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous" type="text/javascript"></script>

    <script>
        function calcPrice(value){
            var hms = value;   // value값을 넣는다.
            var a = hms.split(':'); // :으로 찢는다.

            // 배열로. 0-h, 1-m, 2-s, 분은 60초이고 시는 60분.
            var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);
            var price = (seconds/60)*20; // 분당 20원이므로 초에서 60을 나누고 20을 곱함
            return price;
        }

        $(document).ready(function(){
    
            $( "#checkStart" ).click(function(e) {
                e.preventDefault();
    
                let data = { car_number: $('#checkTime').val() };
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/timecheck",
                    data: data,
                    success: function(response) {

                        if(response == 0) {
                            alert("입/출차가 되지 않은 차량입니다.");
                            location.href='/';
                        }
                        var arr = JSON.stringify(response);
                        var arr2 = JSON.parse(arr);

                        var value = '';
                        for(var idx in arr2) {
                            var item = arr2[idx];
                            for(var key in item) {
                                value = item[key];
                                console.log(value);
                            }
                        }

                        if(value == null){
                            $('#out_result').text('출차해주세요.');
                            alert("출차가 되지 않은 차량입니다.");
                            location.href='/';
                        } else {
                            $('#out_result').text('총 주차 시간');
                            $('#out_result2').text(value);
                            if(response == '출차해주세요.'){
                                alert("입/출차가 되지 않은 차량입니다."); 
                                jQuery('#payStart').css("display", "none");
                                location.href='/';
                            } else {
                                jQuery('#payStart').css( {'display':'inline-block'});
                            }
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });

                
                $( "#payStart" ).click(function(e) {
                    console.log("!!!!");
                    event.preventDefault();

                    var text = $( '#out_result2' ).text();
                    var carnum = $('#checkTime').val();
                    var price = calcPrice(text)
                    console.log("price"+price);
                    var data = {
                        carnum : carnum,
                        price : price
                    }
                    alert("총 주차 비용은 "+price+"원 입니다.");
                    console.log(data);
                    location.href="/pay";
                });
            });
        });

        

    </script>
</body>
</html>