
.info-body{
    margin-top: 120px;
    text-align: center;
    padding-bottom: 100px;
    width:100%;
}

.contactBtn{
    width: 200px;
    height: 50px;
    border:none;
    background-color: rgb(26, 188, 156);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.contactBtn:hover, .contactBtn:active{
    background-color: rgb(18, 124, 103);
    transition: background-color 0.3s;
}

/* 컨택트 css */

.contact-input {
    width: 400px;
    height: 50px;
}

.contact-area {
    width: 400px;
    height: 100px;
}

.cog-btn{
    width: 150px;
    height: 40px;
    background-color: rgb(41, 128, 185);
    color: #fff;
    border: none;
}

.cog-btn:hover, .cog-btn:active{
    background-color: rgb(26, 76, 109);
    transition: background-color 0.3s;
}


/* 로그인 */

.info-input{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.info{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

.notice{
    text-align: center;
    margin-bottom: 50px;
}

/* admin 페이지 */

h3 {
    text-align: center;
}

.admin-login{
    float: right;
    margin-right: 30px;
    margin-top: 15px;
}

.admin-logout{
    width: 80px;
    height: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    color: rgb(41, 128, 185);
    font-weight: 700;
}

.user-sector, .car-sector, .parking-sector, .contact-sector, 
.payments-sector, .point-sector, .charge-sector {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.admin-wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.admin-table {
    margin : 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.admin-table th, .admin-table tr, .admin-table td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.admin-wrap{
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.admin-list{
    width: 100%;
    height: 100%;
    padding-inline-start: 10px;
    text-align: center;
}

.admin-list li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 20px;
}

.admin-btn {
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: 2px solid #fff;
    background-color: #fff;
}

.admin-btn:hover, .admin-btn:active {
    border-bottom : 2px solid rgb(41, 128, 185);
    -webkit-transition: border-bottom 0.3s ease-in-out;
    transition: border-bottom 0.3s ease-in-out;
}

.charge-wrap{
    text-align:center;
}

.cost-input{
    height: 40px;
    text-align: center;
}

/* 접근 제한 페이지 */

.caution-sector {
    margin-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    width: 100%;
    height: 70%;
}

.caution-sector img {
    width: 30%;
}

/* 멤버 페이지 */

.member-body{
    background-color : rgb(219, 217, 217);
    width: 100%;
    height: 100%;
}

.mem-body{
    width: 100%;
    height: 100%;
}

.mem-wrap{
    width: 100%;
    height: 100%;
}

.mem {
    width: 70%;
    height: 100%;
    margin-top: 20px;
    padding : 10px;
}

.my-info{
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.my-info td {
    height: 50px;
}

.my-info table {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    
}

.info-sub{
    width: 100px;
}

.my-info input {
    height: 30px;
    width: 200px;
}

.my-car{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    text-align: center;
}

.my-car input{
    width : 250px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align: center;
}