
/* 입차 화면 css */

.parkingin-check, .parkingin-word, .parkingin-btn, .new-btn, .add-btn, .checkin-btn {
    text-align: center;
}

.parkingin-body{
    width: 100%;
    height: 70%;
}

.parkingin-check{
    margin-top: 70px;
}

.parkingin-word{
    margin-top: 40px;
} 

.parking-word{
    font-size: 14px;
}

.parking-word2{
    margin-bottom:60px;
}

.parkingin-btn, .new-btn {
    margin-top: 40px;
}

.add-btn {
    margin-top: 10px;
}

.parking-input{
    width: 270px;
    height: 50px;
    text-align: center;
}


#payStart{
    margin-bottom : 100px;
}
